name: C/C++ Format Check

on:
  pull_request:
    paths:
      - '**/*.c'
      - '**/*.cpp'
      - '**/*.h'
      - '**/*.hpp'

jobs:
  check-format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install clang-format
        run: |
          sudo apt update
          sudo apt install -y clang-format

      - name: Run clang-format
        run: |
          FILES=$(git ls-files '*.c' '*.cpp' '*.h' '*.hpp')
          for f in $FILES; do
            cp "$f" "$f.bak"
            clang-format -i "$f"
          done

      - name: Check diff
        run: |
          if ! git diff --quiet; then
            echo "❌ Código não está formatado segundo clang-format."
            exit 1
          else
            echo "✔ Tudo formatado!"
          fi

      - name: Upload formatted files as suggestions
        if: failure()
        uses: reviewdog/action-suggester@v1
        with:
          tool_name: clang-format
          fail_on_error: "false"
          suggestion_file: "."
